body {
	background-color: #02010a;
	color: white;
	font-family: "Dancing script";
	}

header {
	background-color: #5b7989;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 20px;
	text-align: center;
	}

footer {
	margin: 0;
	padding: 0;
	color: black;
	text-align: left;
	background: #c6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	}

header h1 {
	text-shadow: 2px 2px #02010a;
	}

header p {
	margin: 0px;
	padding: 0px;
	}

.principal {
	clear: both;
	background-color: #82c3a6;
	padding: 20px;
	}

#imagen1 {
	text-align: center;
	}

.principal img {
	width: 100%;
	border: 1px solid black;
	box-shadow: 2px 2px #02010a;
	}

header a {
	color: white;
	text-decoration: none;
	}

.secundario {
	margin: 0;
	padding: 0;
  background-color: #d5c75f;
	text-align: center;
	color: black;
	}

.secundario div{
	padding: 20px;
}

.secundario a {
	color: black;
	}

.secundario img {
	border-width: 1px;
	border-style: solid;
	box-shadow: 2px 2px #02010a;
	width: 100%;
	}

#imagen2 img:hover {
		transform:rotate(10deg);
		transition: transform 1s;
		box-shadow: 2px 2px #82c3a6;
		}

#imagen3 img:hover {
		transform:translate(20px,-5px);
		transition: transform 1s;
		box-shadow: 2px 2px #82c3a6;
		}

.galeria {
		margin: 0;
		padding: 0;
		padding-top: 20px;
		background-color: #d5c75f;
		text-align: center;
		color: black;
		}

.galeria img {
		width: 90%;
		margin: 20px;
		border-width: 1px;
		border-style: solid;
		box-shadow: 2px 2px #02010a;
		}

#imagen4 img {
	filter: blur(10px);
	}

#imagen5 img{
	filter: grayscale(100%);
	}

#imagen6 img {
	filter: sepia(90%);
	}

#imagen7 img{
	filter: grayscale(100%);
	}

#imagen9 img{
	filter: grayscale(100%);
	}

.pie {
	margin-left: 40px;
	}

.redes img{
	max-height: 20px;
	}

@media (min-width: 900px) {

	body {
	max-width: 900px;
	margin:0 auto;
	}

	header {
	text-align: left;
	}

	header h1 {
	display: inline;
	}

	header p {
	margin: 0px;
	padding: 0px;
	display:inline;
	float:right;
	}

	.secundario {
	display: flex;
	flex-direction: row;
	}

	.secundario div{
		width: 50%;
	}

	.secundario img{
		max-height: 250px;
	}

	.galeria {
	display: flex;
	flex-direction: wrap;
	}
	.galeria div {
	text-align: center;
	width: 33%;
	}

	.pie {
	display: flex;
	flex-direction: row;
	}

	.pie div {
	margin: 10px;
	width: 25%;
	}
}

@keyframes slidein {
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
}

header {
	animation-name: slidein;
	animation-duration: 2s;
	}
